header {
    .container {
        
        width: 1800px;
        margin: 0 auto;
        padding: 0px 10px;

        .header__inner {

            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100px;

            .start {
                display: flex;
                align-items: center;
                .burger__menu {
                            
                    position: relative;
                    width: 40px;
                    cursor: pointer;
                    user-select: none;

                    input {
                        appearance: none;
                    }
                    .fa-bars {
                        cursor: pointer;
                        font-size: 23px;
                    }
                }
                .logo {
                    margin-left: 5px;

                    .icon-logo::before {
                        color: red;
                        font-size: 20px;
                        margin-right: 2px;
                    }
                    a {
                        color: @dark;
                        font-size: 20px;
                        font-weight: bold;
                        .f-logo;
                        font-weight: 500;

                    }
                }
                .search-form {
                    position: relative;
                    margin-left: 5em;

                    input {
                        .f-main;
                        font-size: 15px;
                        padding: 10px 51px 10px 20px;
                        width: 800px;
                        height: 45px;
                        border: none; border-radius: 20px;
                        outline: none;
                        background-color: @search-bg;
                    }
                    button {
                        position: absolute; right: 10px; top: 55%; transform: translateY(-50%);
                        background-color: transparent;
                        outline: none;
                        border: none;
                        cursor: pointer;
                        font-size: 20px;
                    }
                }
            }
            .end {
                display: flex;
                align-items: center;
                a {
                    color: @icons;
                    margin-right: 50px;
                    font-size: 20px;
                }
                
                img {
                    width: 50px;
                    border-radius: 50%;
                }
            }
        }
    }
}