header {
    .container {
        
        width: 1800px;
        margin: 0 auto;
        padding: 0px 10px;

        .header__inner {

            display: flex;
            align-items: center;

            height: 100px;

            .burger__menu {

                .burger {

                    width: 20px;
                    height: 3px;
                    border-radius: 20%;
                    background-color: #000;

                    &::before, &::after {
                        
                        width: 20px;
                        height: 3px;
                        border-radius: 20%;
                        background-color: #000;
                    }
                }

                input {
                    appearance: none;
                }
            }
        }
    }
}