body#lighten {
    background-color: #F8F9FF;
}
header { 
    .container {
        width: 1815px;
        margin: 0 auto;
        

        .header__inner {
            display: flex;
            align-items: center;
            //justify-content: space-between;
            //justify-content:;
            margin-top: 10px;
            height: 50px; 
        }
        .burger {
            cursor: pointer;
            margin-bottom: 3px;
            .line {
                width: 20px;
                border-radius: 50px;
                height: 3px;
                margin-top: 3px;
                background-color: @burger;
            }
        }
        .logo {
            min-height: 25px;
            margin-left: 30px;

            .logo_yt {
                position: relative; 
                color: black;
                font-weight: 600;

                span#before, span#after {
                    text-transform: uppercase;
                }
                ._ico-youtube:before {
                    position: absolute;
                    color:#FF0000;
                    font-size: 27px;
                    align-items: center;
                }
                #logo__text {
                    padding-left: 41px;
                    .fo-inter;
                    font-size: 24px;
                    letter-spacing: -2px;
                    //position: absolute;
                }
            }
        }
        .search {
            width: 830px;
            height: 44px;
            margin-left: 83px;
            position: relative;

            #search__border {
                min-width: 100%;
                min-height: 100%;
                border-radius: 20px;
                background-color: #EBEBEB;
                color: #30384C;
                border: 0;
                outline: 0;

                padding-left: 20px;
                padding-right: 30px;
                font-size: 16px;
                
                
            }
            ._ico-search::before {
                content: "\e904";
                display: block;
                font-size: 20px;
                position: absolute;
                top: 12px;
                right: -28px;
                font-size: 20px;
                color: black;
            }
        }
        .golive {
            margin-left: 505px;
            ._ico-camera:before {
                color: gray;
                cursor: pointer;
              }
        }
        .dashboard {
            color: gray;
            cursor: pointer;
            margin-left: 50px;

            ._ico-dots:before {
                color: #000;

              }
        }
        .news {
            color: gray;
            cursor: pointer;
            margin-left: 50px;

            ._ico-news:before {
                color: #000;

              }
        }
        .avatar>img {
            border-radius: 50%;
            width: 40px;
            margin-left: 50px;
        }
    }
    .size {
        width: 20px!important;
    }
}
// ---------- icon fonts styles -----------

